# .env.example
VITE_GOOGLE_DRIVE_API_KEY=
VITE_YOUTUBE_API_KEY=
YOUTUBE_API_KEY=
VITE_KNOWLEDGE_API_KEY=
ADMIN_USERNAME=
ADMIN_PASSWORD=
JWT_SECRET=

# Environment
NODE_ENV=development
DISABLE_HMR=false

# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
